:root{--red: rgb(194, 20, 20);
      --green: rgb(31, 86, 25);
      --border: 1px solid rgba(0,0,0,.1);
    
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    background-color: var(--green);
    color: var(--red);
    text-align:center;
    padding: 2rem;
    color: white;
}

h1{
    font-size: 3rem;
    padding-bottom: 2rem;
    
}


img{
    width: 100%;
    height: auto;
}

h2{
    padding: 1rem;
    background-color: rgb(233, 52, 25);
    opacity: 1;
    color: white;
}

.card{
    background-color: white;
    border-radius: .5rem;
   
}

.card h2{
    text-align: center;
}

.col-2{display: grid;
grid-gap: .5rem;
grid-template-columns: 1fr 1fr;
padding: 1rem;
}

.label{
    font-weight: 700;
    font-size: .85rem;
    text-align: right;
}

.value{
    font-size: .9rem;
}

@media (min-width: 750px){

    h1{font-size: 1 rem;
    }

    main{
        position: relative;
    }
    
    .card{
        border: var(--border);
        box-shadow: 0 0 2rem black;
        opacity: .8;
    }

    .data{
        position:absolute;
        top: 12rem;
        left: 5rem;
    }

    svg{display: none;}

    .weather{
        position: absolute;
        bottom: -20rem;
        right:5rem;
    }

    .weather h2::after{
        content: '⛅';
        position: absolute;
        right: 1rem;
        top: 1.25rem;
    }

    #weather-icon{
        display: none;
    }


}
    









