/* :root{--red: #ea1f1f} */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, footer{
    color: rgb(194, 20, 20);
    text-align:center;
    padding: 1.5rem;
}

h1{
    font-size: 1.5rem;
}

.aside{
    background-color: blue;
    padding: .5rem;
}

img{
    width: 100%;
    height: auto;
}

h2{
    padding: 1rem;
}