@media (min-width: 768px) {
    .links {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em; 
      
    }

    .links img {
        margin: 0.25em;
    }

    .classes {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em; 
      
    }

    .classes p, .classes img {
        width:100%;
        margin: 0.25em;
    }

    .classes h2{
        grid-column: span 2;
    }

    .hero img {
        max-width: 100%; 
        height: auto; 
    }

    header {
        padding: 2em;
    }

    footer {
        text-align: center;
        padding: 1em;
    }

    .strand {display:none;}
}

