:root{--grey: #c5cbe4;
    --blue: rgb(31, 73, 243);
    --purple:rgb(144, 18, 228);
  
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.full-width{
    width: 100%;
    border-bottom: 0.5em solid --blue;
    background-color: var(--grey);
    margin: 0;
    padding: 0;
}
.links {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
}

figure {
    width: 100%;
    max-width: 400px;
    margin: auto; /* Centers the image within its container */
}

.hero img {
    width: 100%;
    height: auto;
    margin-bottom: 3em;
}

h1 {
    display: flex;
    justify-content: left;
    align-items: center;
    color: var(--purple);
    font-family: "Mr Dafoe";
    font-weight: 100;
    font-size: 4em;
    background-color: var(--grey);
    padding: 2rem;
    margin: 0;
    width: 100%;
    
}



header, footer {
    background-color: var(--grey);
    width: 100%;
}

footer{margin-top: 2em;}

.header-container, .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    max-width: 1200px;
    margin: auto;
    padding: 1em;
}
.header-container img{
    margin-right: 1em;
}

figure a {
    position: absolute;
    background-color: var(--grey);
    padding: 1rem;
    color: rgb(31, 73, 243);
    font-weight: bolder;
}

.classes{position: relative;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;}

.classes img{
    justify-self: center;
    padding: 2em;
}

.classes h2{text-align: center;
    font-size: 4em;
    font-weight: lighter;
    font-style: italic;}

    form.wf1 {
        width: 90%;  /* Adjusts form to fit within screen */
        max-width: 600px;  /* Keeps form from being too wide on larger screens */
        margin: 0 auto;  
        background-color: rgb(61, 165, 250);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .signup {
        background-color: white;
        padding: 0;
        text-align: center; /* Centers the text inside the div */
        display: flex;
        justify-content: center; /* Centers the div itself */
        align-items: center; /* Centers the content vertically (if needed) */
    }

    .sign-up input[type="submit"] {
        background-color: var(--purple);
        border: none;
        color: white;
        padding: 20px 40px;
        font-size: 18px;
        cursor: pointer;
    }
    

    .offer{
        font-size: 2rem;
        font-style: italic;
        padding: .5em;
    }

    .text{
        padding: .5em;
    }

    .text input[type=text]{padding: .5em;}




