

.container{
    
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 300px;

    background-color: rgb(105, 164, 170);
    font-family:Roboto, Arial, Helvetica, sans-serif;
    
}

.card{
    background-color: rgb(105, 164, 170);
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin: 2px;
    width:100%;}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    height: 50px;
    background-color: rgb(242, 240, 238);
    color:black;
    width:100%}

.resources{
    display:flex;
    flex-direction: column;
    background-color: rgb(105, 164, 170);
}
    
nav a:hover{background-color: aqua;}

nav a{color:black}

img{float:left;
    margin: 15px;}
       
.hobby{float:right;
    margin: 20px;}    
     

h1{
    display:grid;
    grid-template-rows: 100px;
    background-color: #4893e2;
    align-items:center;
    justify-content: space-around;
}

h2{display:grid;
    justify-content:center;}

footer{
    display:grid;
    grid-template-rows: 20px;
    background-color: #4893e2;
    justify-content: center;}

p{padding:5px;}


   
    



