
main{ max-width: max-content;}

body{font-family: "Roboto", sans-serif;}

.container{
    width: 90%;
    display:grid;
    /* grid-template-columns: 70% 30%; */
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    background-color: rgb(246, 249, 250);
    font-family:Roboto, Arial, Helvetica, sans-serif;
    word-wrap: break-word;
    overflow-wrap: break-word;
    padding: 1rem;
    margin: 0 auto;
    
   }

.card{
    background-color: rgb(105, 164, 170);
    border-width:2px;
    border-style:solid;
    border-color:black;
    margin: 15px;
    width:90%;
    }


.links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    height: 50px;
    background-color: #8f7e7e;
    color:black;
    width:auto;
    margin: 0;
    padding: 1rem}

.resources{
    display:flex;
    flex-direction: column;
    background-color: rgb(105, 164, 170);
    align-items: center;
}
    
nav a:hover{background-color: aqua;}

nav a{color:black}

img{float:left;
    margin: 15px;}
       
.hobby{float:right;
    margin: 20px;}    
     

h1{
    display:grid;
    grid-template-rows: 100px;
    background-color: #4893e2;
    align-items:center;
    justify-content: space-around;
    margin: 0;
    padding: 1em;
    
    
}

h2{display:grid;
    justify-content:center;
    background-color:azure;
    padding: 10px;
    margin:0;

}

footer{
    display:grid;
    grid-template-rows: 20px;
    background-color: #4893e2;
    justify-content: center;}

p{padding:5px;}


   
    



