
main {
    max-width: max-content;
}

body {
    font-family: "Roboto", sans-serif;
}


form.wf1 {
    width: 100%;
    background-color: rgb(61, 165, 250);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    max-width: 28rem; 
    background-color: rgb(153, 202, 242);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

div {
    padding: 0.5em;
}
