@media (min-width: 768px) {
    main {grid-template-columns: repeat(3, 1fr);
         gap: 1em;}
    img {
        width: 90%;}
    h1 {background-color: #853ed1;}
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;} 
    .menu{display: none;}
    .hamburger{display:none;}}







    








