@media (min-width: 768px) {
    main {
    img{width: 30%;}
    grid-template-columns: repeat(3, 1fr);}
    h1 {background-color: #853ed1;}
    .menu{display: none;}
    .hamburger{display:none;}}







