@media (min-width: 768px) {
    img {width: 90%;}
    h1 {background-color: #853ed1;}
    .gallery{
        grid-template-columns: 1fr 1fr 1fr;} 
    .menu{display: none;
        transform: translateX(100%);}
    .menuItem{display:none;
        transform: translateX(100%);}
    }
    








    








